
html{
	background-color: #98C30B;
	margin-left: 3em;
	margin-right: 3em;
}

body{
  	width: 100%;
	background-color: white;
	 box-shadow: 0 0 30px rgb(10,10,10);
  	-ms-box-shadow:0 0 30px rgb(10,10,10);
  	-webkit-box-shadow:0 0 30px rgb(10,10,10);
  	margin: 1em auto;
  	border-radius: 2em;
  	padding-top: 1em;
}

header{
	padding: 0.5em 0;
	margin-left: 1em;
}

header img{
	width: 5%;
	height: 5%;
	margin-left: 0.5em;
	margin-top: 0.2em;
}

header span{
	margin-left: 0.5em;
}

header a{
	font-family: "Unpact";
	font-size: 2.5em;
 	text-decoration: none;
 	color: black;
}

a{
	font-weight: bold;
	text-decoration: none;
	color: #81A803;
}

hr{
	margin: 0 2em;
}

h1{
	font-size: 1.8em;
}

form input{
	background-color: #C2C7C0;
	border-radius: 1em;
	padding: 0.2em 0;
}

form label{
	font-size: 1.3em;
}

fieldset{
    border-right: none;
    border-bottom: none;
    border-top: none;
    width: 30%;
    margin: 1em;
}

#registracia{
	margin: 2em;
}

legend{
	font-size: 1.7em;
	color: #521C76;
}

.button{
	margin-top: 1em;
	font-weight: bold;
	background-color: #81A803;
	border-radius: 0.5em;
	color: white;
	padding: 0.5em 0.8em;
}

footer{
	font-size: 0.9em;
	padding: 0.5em 0;
	width: 100%;
	background-color: rgb(46,46,46);
	color:white;
	text-align:center;
	border-bottom-right-radius: 50em;
	border-bottom-left-radius: 50em;
}


#prihlasenie{
	margin: 3em 0;
	text-align: center;
}

.lavy_margin{
	margin-left: 2em;
}

.centruj{
	text-align: center;
}

#zmluva{
	margin: 2em;
	margin-right: 3em;
}

.zafarbi{
	color: #81A803;
}